<input id="PG13" type=radio name=severity value='1'/>   PG 13
<br>
<input id="Mildly-Irritated" type=radio name=severity value='2'/>   Mildly Irritated
<br>
<input id="Positively-Livid" type=radio name=severity value='3'/>   Positively Livid
<br><br>
<input id=submit class=button  type='submit' value='Get Rude!'/>
</form>
