<form class=buttons action=/cusswords/show>
  <input type=hidden name=severity value='1'/>
  <%= render "shared/form_partial" %>
<br><br>
<div id="notices">
    <div class=rank>Rudeness Auto-Ranked at Level 1 (PG 13)</div>
    <br>
  <div id="notices-child">
    <div class="shock-warning">**PLEASE SELECT THE SEVERITY OF SWEAR WORDS WITH WHICH YOU ARE COMFORTABLE.**</div>
    <div class="shock-warning">**NO RESPONSIBILITY IS TAKEN BY THE DEVELOPER FOR PROLONGED FITS OF LAUGHTER OR LONG-TERM SHOCK!**</div>
  </div>
</div>
