<form class=buttons action=/cusswords/show>
  <input type=hidden name=severity value="<%=@severity%>"/>
  <%= render "shared/form_partial" %>
<br>
<div class=response>
  <%@cusses.each do |w|%>
    <%=w.word.split.map(&:capitalize).join(' ')%>
  <%end%>!!
</div>
<br><br>
<div id="rank-parent">
  <div class="rank">Rude Ranking: Level <%=@severity%></div>
</div>
